@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}
.body{
    background-color:  #E5E5E5;
}
.menulines{

   position: absolute;
    left: 0;
   
}
.topHead{
    position: relative;
    width:100%;
    height: 15px;
 
}
.wrapper{
  display: flex;
  position: relative;

}

.wrapper #sidebar{
 
 width: 200px;
  height: 100%;
  background: #007356;
  padding: 30px 0px;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  transition: all 0.5s;
  margin-left: 15px;
  margin-top: 15px;
  border-radius: 20px;
  position: fixed;
}

/* .wrapper #sidebar:hover,
#sidebar.active{
  width:300px;
}  */

.wrapper #sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper #sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper #sidebar ul li a{

  color: #fff;
  display: block;
  
}

.wrapper #sidebar ul li a .fas{

  width: 25px;
}

.wrapper #sidebar ul li:hover{
  background-color: #594f8d;
}
    
.wrapper #sidebar ul li:hover a{
  color: #fff;
  text-decoration: none;
}
 
.wrapper .main_content{
  width: 100%;
}
.wrapper .main_content .todayBtn{
    width: 130px;
    height: 40px;
    background: #007356;
    border-radius: 20px;
    color: white;
}
.wrapper .main_content .week_month_yearBtn{
    width: 130px;
    height: 40px;
    background-color: white ;
    border-radius: 20px;
    color: #000000;
   
}
.wrapper .main_content .calenderBtn{
    width: 130px;
    height: 40px;
    background: white;
    border-radius: 20px;
    color:  #007356;
}

.image{
  height: 75px;
}
span{
  font-weight: bold;
}
.progress{
width: 120px;


}
.retuenedProgress{
  background:#02A0FC ;
}
.sell-remain-repeat{
  font-weight: bold;
}
.dropdown-toggle{
  width: 115px;
  height: 30px;
  
 
}
.btn1{
  margin-left: -120px;
}
.btn2{
  margin-left: -220px;
}
.image2{
  height:70px;
}
.span{
 font-weight: normal;
}
.span2{
  color: #4339F2;
}
.chart4{
  margin-top: 10px;
}
 /* .toggle-btn{
   position: absolute;
   left: 128%;
   top: 15px;

 }
 .toggle-btn span{
  
  display: block;
   background-color:  #007356;
   width:30px;
   height: 5px;
   margin: 3px;
 } */
 /* .active{
  left: 0;
 } */

 /* .active{
  width: 200px;
  height: 100%;
  background: #007356;
  padding: 30px 0px;
  left: -18%;
  margin-left: 15px;
  margin-top: 15px;
  border-radius: 20px;
  position: fixed;
} */
.containerTest{
  width: 100vw;
}
 /* .toogle{
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: #330748;
  cursor: pointer;

}
.toogle.active{
  background: #ea1d63;
}
.toogle:before{
  content: '\f0c9';
  font-family: "fontAwesome";
  width: 100%;
  height:100%;
  line-height: 60px;
  text-align: center;
  font-size: 24px;
  color:#fff;
} 
.toogle:active:before{
  content: '\f00d';
} */
/*circle progress bar */
.progress-circle {
  position: relative;
  display: inline-block;
  margin: 1rem;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ebebeb; } 
.progress-circle:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-animation: colorload 2s;
  animation: colorload 2s; }

.progress-circle span {
  font-size: 1rem;
  color: #8b8b8b;
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  z-index: 1; }

.progress-circle span:after {
  content: "%";
  font-weight: 600;
  color: #8b8b8b; }

.progress-circle.progress-67:after {
  background-image: linear-gradient(-28.8deg, #66b8ff 50%, transparent 50%, transparent), linear-gradient(270deg, #66b8ff 50%, #ebebeb 50%, #ebebeb); }

@-webkit-keyframes colorload {
  0% {
    opacity: 0;
    transform: rotate(0deg); }
  100% {
    opacity: 1;
    transform: rotate(360deg); } }
/* ipad pro */
@media screen and (max-width: 1024px){
 
    .filter_area{
      margin-left: 10px;
      margin-top: 15px;
      }
      .progress {
        display: -ms-flexbox;
        display: flex;
        height: 12%;
        width: 90px;
        overflow: hidden;
        line-height: 0;
        font-size: .75rem;
        background-color: #fff;
        border-radius: .25rem;
    }
      .progress-report{
       
        margin-top: 5px;
      }
      
      
     .sell-remain-repeat{
       margin-left: 40px; 
     } 
     .sell-remain-repeat2{
       margin-left: 18px;
     } 
    
     .chart{
       margin-left: 50px;
     width: 20px;
     }  
    .sell-remain-repeat3{
      margin-left: 170px;
    }
    .sell-remain-repeat4{
      margin-left: 400px;
      margin-top: -40px;
    }
    .chart4{
      margin-left: 180px;
      
    }
    .new-orders{
      margin-left: 170px;
    
    }
    .new-orders2{
      margin-left: 450px;
      
     
    }
    .estimated-profit{
      margin-top: -70px;
    }
   
    .chart2{
      margin-top: 350px;
      margin-left: -500px; 
     
    }
   
   } 
 
/* ipad */
@media screen and (max-width: 768px){
  .filter_area{
  margin-left: 40px;
  margin-top: 10px;
  }
  .progress {
    display: -ms-flexbox;
    display: flex;
    height: 12%;
    width: 90px;
    overflow: hidden;
    line-height: 0;
    font-size: .75rem;
    background-color: #fff;
    border-radius: .25rem;
}
  .progress-report{
    margin-left: 40px;
    margin-top: 5px;
  }
  
  
 .sell-remain-repeat{
   margin-left: 40px; 
 } 
 .sell-remain-repeat2{
   margin-left: 18px;
 } 
 
 .chart{
   margin-left: 50px;
 width: 20px;
 }  
.sell-remain-repeat3{
  margin-left: 170px;
}
.sell-remain-repeat4{
  margin-left: 400px;
  margin-top: -40px;
}
.chart4{
  margin-left: 180px;
  
}
.new-orders{
  margin-left: 170px;

}
.new-orders2{
  margin-left: 450px;
  
 
}
.estimated-profit{
  margin-top: -70px;
}

.chart2{
  margin-top: 350px;
  margin-left: -350px;

}

}

/* surface duo */
@media screen and (max-width: 540px){

  .menulines{

    position: absolute;
     left: 0;
    
 }
 .topHead{
     position: relative;
     width:100%;
     height: 20px;
  
 }
 .wrapper #sidebar{
  
   
   width: 250px;
    height: 100%;
    background: #007356;
    padding: 30px 0px;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    transition: all 0.5s;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 20px;
    position: fixed;
  }
  .filter_area{
  margin-left: 400px;
 
  }
  .filter_button{
    margin-bottom: 10px;
  }
  .progress-report{
    
    margin-left: 400px;
    margin-top:5px;
  }
  .sell-remain-repeat{
    margin-left: 400px;
    
  }
 
 .sell-remain-repeat2{
   margin-left: 20px;
 }
.btn2{
  margin-left: 400px;
  
}

 .chart{
   margin-left: 350px;
 }
 .chart8{
  margin-top: 45px;
  margin-left: -150px;
 }
 .new-orders{
   margin-left: 350px;
   margin-top: 10px;
 }
 
 .new-orders2{
  margin-left: 620px;
  
 }
 .estimated-profit{
  margin-top: -70px;
 }
 .task-remain-repeat{
  margin-left: 150px;
}
.chart2{
  margin-left: 380px;
  margin-top: -5px;
}
#chart_div3{
  margin-left: 180px;
}

}

/* responsive pixel 2 & pixel 2xl iphone 6/7/8 plus */
@media screen and (max-width: 414px) and (min-width: 411px){
    .menulines{

        position: absolute;
         left: 0;
        
     }
     .topHead{
         position: relative;
         width:100%;
         height: 20px;
      
     }
     .wrapper #sidebar{
      
       width: 200px;
        height: 100%;
        background: #007356;
        padding: 30px 0px;
        top: 0;
        left: 0;
        z-index: 1;
        overflow-x: hidden;
        transition: all 0.5s;
        margin-left: 15px;
        margin-top: 15px;
        border-radius: 20px;
        position: fixed;
      }
    
  .filter_area{
  margin-left: 300px;
 
  }
  .filter_button{
    margin-bottom: 10px;
  }
  .progress-report{
    margin-left: 300px;
    margin-top:5px;
  }
  .sell-remain-repeat{
    margin-left: 300px;
    
  }
 
 .sell-remain-repeat2{
   margin-left: 20px;
 
 }
.btn2{
  margin-left: 300px;
  
}

 .chart{
   margin-left: 300px;
 }
 .new-orders{
   margin-left: 300px;
 }
 .new-orders2{
  margin-left: 550px;
  
 }
 .estimated-profit{
  margin-top: -70px;
 }
 .task-remain-repeat{
  margin-left: 150px;
}
.chart2{
  margin-left: 300px;
  margin-top: -10px;
}
#chart_div3{
  margin-left: 180px;
}
.chart8{ 
  margin-top: 10px;
}
}
/* responsive iphone 6/7/8 & iphone x & moto g4 galaxy s5 & iphone 5/se */
@media screen and (max-width: 375px){
 
  .menulines{

    position: absolute;
     left: 0;
    
 }
 .topHead{
     position: relative;
     width:100%;
     height: 20px;
  
 }
 .wrapper #sidebar{
  

   width: 200px;
    height: 100%;
    background: #007356;
    padding: 30px 0px;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    transition: all 0.5s;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 20px;
    position: fixed;
  }
  .filter_area{
  margin-left: 300px;
 
  }
  .filter_button{
    margin-bottom: 10px;
  }
  .progress-report{
  
    margin-left: 300px;
    margin-top:5px;
  }
  .sell-remain-repeat{
    margin-left: 300px;
    
  }
 
 .sell-remain-repeat2{
   margin-left: 430px;
   margin-top: -50px;
 }
.btn2{
  margin-left: -120px;
  
}

 .chart{
   margin-left: 300px;
 }
 .new-orders{
   margin-left: 300px;
 }
 .new-orders2{
  margin-left: 550px;
  
 }
 .estimated-profit{
  margin-top: -70px;
 }
 .task-remain-repeat{
  margin-left: 150px;
}
.chart2{
  margin-left: 300px;
  margin-top: -5px;
}
#chart_div3{
  margin-left: 180px;
}
.chart8{ 
  margin-top: 10px;
} 

}

@media screen and (max-width: 280px){
  .topsellingItem{
    margin-left: 430px;
    margin-top: -40px;
  }
  
   .chart8{ 
    margin-top: 10px;
  } 
}
